@{
    ViewBag.Title = "Footer";
}
<br>
</body>
<footer> 
<div class="footer">
    <div class="container">
        <div class="col-md-3 footer-grid">
            <h3>About Us</h3>
            <p>
                Nam libero tempore, cum soluta nobis est eligendi
                optio cumque nihil impedit quo minus id quod maxime
                placeat facere possimus.
            </p>
        </div>
       <!-- <div class="col-md-3 footer-grid ">
            <h3>Menu</h3>
            <ul>
                <li><a href="/Home/index">Home</a></li>
                <li><a href="kitchen.html">Categories</a></li>
                <li><a href="codes.html">Short Codes</a></li>
                <li><a href="contact.html">Contact</a></li> 
            </ul>
        </div>
        <div class="col-md-3 footer-grid ">
            <h3>Customer Services</h3>
            <ul>
                <li><a href="shipping.html">Shipping</a></li>
                <li><a href="terms.html">Terms & Conditions</a></li>
                <li><a href="faqs.html">Faqs</a></li>
                <li><a href="contact.html">Contact</a></li>

            </ul>
        </div>-->
        <div class="col-md-3 footer-grid">
            <h3>My Account</h3>
            <ul>
                 @if (@Session["username"] == null) {
                  <li><a href="Home/register">Register</a></li>
                }
                <li><a href="Home/wishlist">Wishlist</a></li>

            </ul>
        </div>
        <div class="clearfix"></div>
        <div class="footer-bottom">
            <h2><a href="Home/index"><b>T<br>H<br>E</b>Big Store<span>The Best Supermarket</span></a></h2>
            <p class="fo-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
           <div class=" address">
                <div class="col-md-4 fo-grid1">
                    <p><i class="fa fa-home" aria-hidden="true"></i>12K Street , 45 Building Road Canada.</p>
                </div>
                <div class="col-md-4 fo-grid1">
                    <p><i class="fa fa-phone" aria-hidden="true"></i>+1234 758 839 , +1273 748 730</p>
                </div>
                <div class="col-md-4 fo-grid1">
                    <p><a href="mailto:info@example.com"><i class="fa fa-envelope-o" aria-hidden="true"></i>info@example1.com</a></p>
                </div>
                <div class="clearfix"></div>

            </div>
        </div>
        <div class="copy-right">
            <p> &copy; 2016 Big store. All Rights Reserved | Design by W3layouts</p>
        </div>
    </div>
</div>

<!-- Login MODAL -->
<div id="login_modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h4 class="modal-title"><strong>Login</strong></h4>
            </div>

            <div class="modal-body">
                <form id="login_form" class="form-horizontal" action="#" method="post" id="login_form">

                    <!-- USER -->
                    <div class="form-group">
                        <label class="col-md-3 control-label">Utilizador</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                <input name="email" id="email" placeholder="Email" class="form-control" type="text"
                                       required>

                            </div>
                        </div>
                    </div>

                    <!-- PASSWORD -->
                    <div class="form-group">
                        <label class="col-md-3 control-label">Password</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                <input name="password" id="password" placeholder="Password" class="form-control" type="text"
                                       required>

                            </div>
                        </div>
                    </div>

                    <div class="form-group">

                        <!-- SUCCESS MESSAGE -->
                        <div id="login_success" class="text-center">
                        </div>
                        <!-- FAILURE MESSAGE -->
                        <div id="login_failure" class="text-center">
                        </div>

                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button id="requestSubmitBtn" type="submit" class="btn btn-success" data-dismiss="modal">Login</button>
            </div>
        </div>

    </div>
</div>
   <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */
            $().UItoTop({ easingType: 'easeOutQuart' });
        });
    </script>
    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    <!-- //smooth scrolling -->
    <!-- for bootstrap working -->
    <script src="../../../Scripts/bootstrap.js"></script>
    <!-- //for bootstrap working -->
    <script type='text/javascript' src="../../../Scripts/jquery.mycart.js"></script>
    <script type="text/javascript">
        $(function () {

            var goToCartIcon = function ($addTocartBtn) {
                var $cartIcon = $(".my-cart-icon");
                var $image = $('<img width="30px" height="30px" src="' + $addTocartBtn.data("image") + '"/>').css({ "position": "fixed", "z-index": "999" });
                $addTocartBtn.prepend($image);
                var position = $cartIcon.position();
                $image.animate({
                    top: position.top,
                    left: position.left
                }, 500, "linear", function () {
                    $image.remove();
                });
            }

            $('.my-cart-btn').myCart({
                classCartIcon: 'my-cart-icon',
                classCartBadge: 'my-cart-badge',
                affixCartIcon: true,
                checkoutCart: function (products) {
                    $.each(products, function () {
                        console.log(this);
                    });
                },
                clickOnAddToCart: function ($addTocart) {
                    goToCartIcon($addTocart);
                },
                getDiscountPrice: function (products) {
                    var total = 0;
                    $.each(products, function () {
                        total += this.quantity * this.price;
                    });
                    return total * 1;
                }
            });

        });
    </script>


</footer>
</html>