@{
    ViewBag.Title = "header";
}

<div class="header">

    <div class="container">

        <div class="logo">
            <h1><a href="/Home/Index"><b>T<br>H<br>E</b>Big Store<span>The Best Supermarket</span></a></h1>
        </div>
        <div class="head-t">
            <ul class="card">
                <li><a href="wishlist.html"><i class="fa fa-heart" aria-hidden="true"></i>Wishlist</a></li>
                @if (@Session["username"] == null) {
                <li>
                    <a href="" id="modal_login_button" data-toggle="modal" data-target="#login_modal">
                        <i class="fa fa-user" aria-hidden="true">
                        </i>
                        Login
                    </a>
                </li>
                } else {
                    <li>
                        <a href="/Home/logout" id="logout_button">
                            <i class="fa fa-user" aria-hidden="true">
                            </i>
                            Logout
                        </a>
                    </li>
                }
                <li><a href="register.html"><i class="fa fa-arrow-right" aria-hidden="true"></i>Register</a></li>
                <li><a href="about.html"><i class="fa fa-file-text-o" aria-hidden="true"></i>Order History</a></li>
                <li><a href="shipping.html"><i class="fa fa-ship" aria-hidden="true"></i>Shipping</a></li>
            </ul>
        </div>

        <div class="header-ri">
            <ul class="social-top">
                
                    @if (@Session["username"] != null) {
                        <b>
                            Logged in as: @Session["username"]
                        </b>
                    }
                        
            </ul>
        </div>


        <div class="nav-top">
            <nav class="navbar navbar-default">

                <div class="navbar-header nav_2">
                    <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>


                </div>
                <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                    <ul class="nav navbar-nav ">
                        <li class=" active"><a href="~/Home/Index" class="hyper "><span>Home</span></a></li>

                        <li class="dropdown ">
                            <a href="#" class="dropdown-toggle  hyper" data-toggle="dropdown"><span>Categories<b class="caret"></b></span></a>
                            <ul class="dropdown-menu multi">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <ul class="multi-column-dropdown">

                                            <li><a onclick="getCategory('Computadores base');"><i class="fa fa-angle-right" aria-hidden="true"></i>Computers</a></li>
                                            <li><a onclick="getCategory('RAM');"><i class="fa fa-angle-right" aria-hidden="true"></i>RAM</a></li>
                                            <li><a onclick="getCategory('Processadores');"> <i class="fa fa-angle-right" aria-hidden="true"></i>Keyboards & Mouses</a></li>
                                            <li><a onclick="getCategory('Mother Boards');"><i class="fa fa-angle-right" aria-hidden="true"></i>Motherboards</a></li>

                                        </ul>

                                    </div>

                                    <div class="col-sm-3">

                                        <ul class="multi-column-dropdown">
                                            <li><a onclick="getCategory('Processadores');"><i class="fa fa-angle-right" aria-hidden="true"></i>Processors</a></li>
                                            <li><a onclick="getCategory('Chassis');"><i class="fa fa-angle-right" aria-hidden="true"></i>Computer Cases</a></li>
                                            <li><a onclick="getCategory('Discos');"><i class="fa fa-angle-right" aria-hidden="true"></i>Disks</a></li>
                                            <li><a onclick="getCategory('Drives');"><i class="fa fa-angle-right" aria-hidden="true"></i>Drives</a></li>

                                        </ul>
                                    </div>
                                    <div class="col-sm-3 w3l">
                                        <a href=""><img src="../../../Images/computer.png" class="img-responsive" alt=""></a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </ul>
                        </li>

                        <li><a href="codes.html" class="hyper"> <span>Codes</span></a></li>
                        <li><a href="contact.html" class="hyper"><span>Contact Us</span></a></li>
                    </ul>
                </div>
            </nav>
            <div class="cart">

                <span class="fa fa-shopping-cart my-cart-icon"><span class="badge badge-notify my-cart-badge"></span></span>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
</div>
