
 
    @RenderPage("header.cshtml")
    @{var engine = "Razor";}
  <!---->
<div id = "search_background" data-vide-bg="f/video " background="video/video.png">
    <div class="container">
		<div class="banner-info">
			<h3>It is a long established fact that a reader will be distracted by
			@engine the readable </h3>
			<div  class="search-form">
				<form name="search-bar" onsubmit="return false" method="GET">
					<input type="text" placeholder="Search..." name="Search">
					<input type="submit" onclick="resetPaging(); searchFunction();" value=" " >
				</form>
			</div>
		</div>
    </div>
</div>

    <script>window.jQuery || document.write('<script src="../../../Scripts/jquery-1.11.1.min.js"><\/script>')</script>
   

<!--content-->

<!--content-->
<div class="content-mid">
</div>
<!--content-->
<!--content-->
	<div class="product">
		<div class="container">
			<div class="spec ">
				<h3>Products</h3>
				<div class="ser-t">
					<b></b>
					<span><i></i></span>
					<b class="line"></b>
				</div>
			</div>
				<div id="article-holder" class=" con-w3l">
							
				</div>
	</div>
	<div id="pagination">
	<button class="pagingButton" id="pafeLeft" onclick="pageToLeft()" > << </button>
	<button class="pagingButton" id="pageIndex"> 1  </button>
	<button class="pagingButton" id="pafeRight" onclick="pageToRight()"> >> </button>
	</div>
<!--footer-->
   @RenderPage("footer.cshtml")

<!-- //footer-->

<!-- smooth scrolling -->
	
	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->
<!-- for bootstrap working -->
        <script src="../../../Scripts/bootstrap.js"></script>
<!-- //for bootstrap working -->
  <script type="text/javascript">
  $(function () {

    var goToCartIcon = function($addTocartBtn){
      var $cartIcon = $(".my-cart-icon");
      var $image = $('<img width="30px" height="30px" src="' + $addTocartBtn.data("image") + '"/>').css({"position": "fixed", "z-index": "999"});
      $addTocartBtn.prepend($image);
      var position = $cartIcon.position();
      $image.animate({
        top: position.top,
        left: position.left
      }, 500 , "linear", function() {
        $image.remove();
      });
    }

    $(".my-cart-btn").myCart({
      classCartIcon: 'my-cart-icon',
      classCartBadge: 'my-cart-badge',
      affixCartIcon: true,
      checkoutCart: function(products) {
        $.each(products, function(){
          console.log(this);
        });
      },
      clickOnAddToCart: function($addTocart){
        goToCartIcon($addTocart);
      },
      getDiscountPrice: function(products) {
        var total = 0;
        $.each(products, function(){
          total += this.quantity * this.price;
        });
        return total * 1;
      }
    });

  });
  </script>
  	<!-- product -->
