@RenderPage("header.cshtml")
@{var engine = "Razor";}
<!---->


<script>window.jQuery || document.write('<script src="../../../Scripts/jquery-1.11.1.min.js"><\/script>')</script>
<script type="text/javascript" src="../../../Scripts/orderHistory.js"></script>

<!--content-->
<!--content-->
<div class="content-mid">

        <div class="container">
            <div class="spec ">
                <h3>Orders</h3>
                <div class="ser-t">
                    <b></b>
                    <span><i></i></span>
                    <b class="line"></b>
                </div>
            </div>
            <div id="order-holder" class="con-w3l">

            </div>
           
        <div id="pagination">
            <button class="pagingButton" id="pafeLeft" onclick="pageToLeft('encomenda')"> << </button>
            <button class="pagingButton" id="pageIndex"> 1  </button>
            <button class="pagingButton" id="pafeRight" onclick="pageToRight('encomenda')"> >> </button>
        </div>
            <!-- SUCCESS MESSAGE -->
            <div id="review_success" class="text-center">
            </div>
            <!-- FAILURE MESSAGE -->
            <div id="review_failure" class="text-center">
            </div>

    </div>
<!--content-->
<!--content-->

    <!--footer-->
    @RenderPage("footer.cshtml")
    