    @RenderPage("header.cshtml")
    @{var engine = "Razor";}

<script src="../../../Scripts/registerClient.js"></script>
    <!---->
    <!--banner-->
    <div class="banner-top">
        <div class="container">
            <h3>Register</h3>
            <h4><a href="index.html">Home</a><label>/</label>Register</h4>
            <div class="clearfix"> </div>
        </div>
    </div>

    <!--register-->

<div class="register">
    <form class="well form-horizontal " action="#" method="post" id="client_register_form">
        <!-- EMAIL -->
        <div class="form-group">
            <label class="col-md-3 control-label">Email</label>
            <div class="col-md-6 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input name="email" placeholder="Email" class="form-control" type="text" required>

                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                </div>
            </div>
        </div>

        <!-- NIF -->
        <div class="form-group">
            <label class="col-md-3 control-label">NIF</label>
            <div class="col-md-6 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input name="nif" placeholder="NIF. Must have 9 characters Ex: 123456789" class="form-control" type="number" required>

                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                </div>
            </div>
        </div>

        <!-- ADDRESS -->
        <div class="form-group">
            <label class="col-md-3 control-label">Morada</label>
            <div class="col-md-6 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input name="morada" placeholder="Morada" class="form-control" type="text">


                </div>
            </div>
        </div>



        <!-- PASSWORD -->
        <div class="form-group">
            <label class="col-md-3 control-label">Password</label>
            <div class="col-md-6 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input name="password" placeholder="Password" class="form-control" type="password" required>

                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                </div>
            </div>
        </div>

        <!-- PASSWORD CONFIRMATION -->
        <div class="form-group">
            <label class="col-md-3 control-label">Password Confirmation</label>
            <div class="col-md-6 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input name="password_confirmation" placeholder="Password Confirmation" class="form-control" type="password" required>

                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                </div>
            </div>
        </div>


        <div class="form-group">


            <button id="registerSubmitBtn" type="submit" class="btn btn-success center-block">Register</button>


            <!-- SUCCESS MESSAGE -->
            <div id="register_success" class="text-center">
            </div>
            <!-- FAILURE MESSAGE -->
            <div id="register_failure" class="text-center">
            </div>

        </div>
    </form>
</div>

  @RenderPage("footer.cshtml")