    @RenderPage("header.cshtml")
    @{var engine = "Razor";}

@if (@Session["username"] != null) {
   Response.Redirect("~/Home/index");
}
<script src="../../../Scripts/registerClient.js"></script>
    <!---->
    <!--banner-->
    <div class="banner-top">
        <div class="container">
            <h3>Register</h3>
            <h4><a href="index.html">Home</a><label>/</label>Register</h4>
            <div class="clearfix"> </div>
        </div>
    </div>

    <!--register-->

<div class="register">
    <form class="well form-horizontal " action="#" method="post" id="client_register_form">
        <!-- NAME -->
         <div class="form-group">
            <label class="col-md-3 control-label">Name</label>
            <div class="col-md-6 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input id="registerName" name="registerName" placeholder="Name" class="form-control" type="text" required>

                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                </div>
            </div>
        </div>


        <!-- EMAIL -->
        <div class="form-group">
            <label class="col-md-3 control-label">Email</label>
            <div class="col-md-6 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input id="registerEmail" name="registerEmail" placeholder="Email" class="form-control" type="text" required>

                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                </div>
            </div>
        </div>

        <!-- NIF -->
        <div class="form-group">
            <label class="col-md-3 control-label">NIF</label>
            <div class="col-md-6 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input name="nif" placeholder="NIF. Must have 9 characters Ex: 123456789" class="form-control" type="number" required>

                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                </div>
            </div>
        </div>

        <!-- ADDRESS -->
        <div class="form-group">
            <label class="col-md-3 control-label">Morada</label>
            <div class="col-md-6 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input name="address" placeholder="Morada" class="form-control" type="text" required>

                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                </div>
            </div>
        </div>

   <!-- Código Postal -->
        <div class="form-group">
            <label class="col-md-3 control-label">Código Postal</label>
            <div class="col-md-6 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input name="cp" placeholder="Código: XXXX-XXX" class="form-control" type="text" required>
                    <input name="localidade" placeholder="Localidade" class="form-control" type="text" required>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                </div>
            </div>
        </div>
<!-- Telemóvel   -->
        <div class="form-group">
            <label class="col-md-3 control-label">Telemóvel</label>
            <div class="col-md-6 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input name="telemovel" placeholder="Telemóvel: XXX XXX XXX" class="form-control" type="number" required>

                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                </div>
            </div>
        </div>

        <!-- PASSWORD -->
        <div class="form-group">
            <label class="col-md-3 control-label">Password</label>
            <div class="col-md-6 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input name="password" placeholder="Password" class="form-control" type="password" required>

                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                </div>
            </div>
        </div>

        <!-- PASSWORD CONFIRMATION -->
        <div class="form-group">
            <label class="col-md-3 control-label">Password Confirmation</label>
            <div class="col-md-6 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input name="password_confirmation" placeholder="Password Confirmation" class="form-control" type="password" required>

                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                </div>
            </div>
        </div>

        <!-- Admin Pass -->
  <div class="form-group">
            <label class="col-md-3 control-label">Admin Register Code</label>
            <div class="col-md-6 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input name="admin_code" placeholder="Admin Code" class="form-control" type="password">
                </div>
            </div>
        </div>
        <div class="form-group">


            <button id="registerSubmitBtn" type="submit" class="btn btn-success center-block">Register</button>


            <!-- SUCCESS MESSAGE -->
            <div id="register_success" class="text-center">
            </div>
            <!-- FAILURE MESSAGE -->
            <div id="register_failure" class="text-center">
            </div>

        </div>
    </form>
</div>

  @RenderPage("footer.cshtml")